<div class="landing-hero">
  <div class="top-right-shape" id="curved-corner-topright"></div>
  <div class="filler-shape"></div>
  <div class="bottom-right-shape"></div>

  <div class="dashboard-container">
    <div class="text-section">
      <h1>Dashboard Financiero</h1>
      <p>Control de Flujo monetario</p>
      <button class="start-button" (click)="goToHome()">Iniciar Análisis</button>
    </div>
    <div class="image-section">
      <img src="/analisis-de-proyectos.png.webp" alt="Dashboard Illustration" />
    </div>
  </div>
</div>